#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: BackgroundPrefab(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/background.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    normalized: true,
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 960,
                                texture_height: 540,
                                columns: 1,
                                rows: 1,
                                cell_size: (960, 540),
                            )),
                        ],
                        name: "background",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "background",
                        sprite_number: 0,
                    ),
                    // Transform
                    transform: (
                        translation: (0.0, 0.0, 0.1),
                    ),
                ),
            ),
        ),
    ],
)

